@page
@model MoviesWebApp.Pages.HomeModel
@{
}

@section swiperCSS{
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
}

<div class="swiper-container  ">

    <div class="swiper-wrapper">
        @foreach (var slide in Model.HeaderSlides)
        {
            <div class="swiper-slide" @*style="background-image:url(/assets/uploads/movies/images/@slide.ImageURL);"*@>
                <img src="~/assets/uploads/movies/images/@slide.ImageURL" />
                <div class="slide-card">
                    <h5 class="text-white font-weight-bolder">@slide.Title</h5>
                    <p class="text-white ">@slide.Description</p>
                    <a class="btn btn-success" asp-page="/Movies/MovieDetails" asp-route-id="@slide.Id"> Watch Now</a>
                </div>
            </div>
        }
        
    </div>
    <div class="swiper-button-next text-success slide-control"></div>
    <div class="swiper-button-prev text-success slide-control"></div>
    <div class="swiper-pagination"></div>
    <div class="div-home-slide-bottom">Ads can be a pain, but they are our only way to maintain the server. Your patience is highly appreciated and we hope our service can be worth it.</div>
</div>


@section swiperJS{
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script>
        var swiper = new Swiper(".swiper-container", {
            spaceBetween: 30,
            effect: "cube",
            grabCursor: true,
            cubeEffect: {
                shadow: true,
                slideShadows: true,
                shadowOffset: 20,
                shadowScale: 0.94,
            },

            autoplay: {
                delay: 5000,

            },
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },

        });
    </script>

 }


