@page
@model MoviesWebApp.Pages.PrivacyModel
@{
}
<div class="mb-5 body">
    <div id="row" class="pt-5">


        <div class="logo-info container ">
            @Html.Raw(Model.PrivacyIndexDto.Info)
        </div>


    </div>
</div>
