@namespace MoviesWebApp.Pages.moviefolder
@using MoviesWebApp.Models;
<div class="row">
    
    @foreach(var movie in Model.Movies)
    {
        <div class="movie">

            <a class="a-movie" asp-page="/PageEachMovie" asp-route-id="@movie.ID">
                    
                    <div class="card-body">
                        
                            <img class="card-img-top"
                                 src='@(movie.ImageURL == null
                          ? $"https://fakeimg.pl/300x300/?text={movie.Title}"
                          : "/uploads/images/" + movie.ImageURL)'
                                 alt="@movie.Title">

                        
                        <div class="movie-details">
                            <h2 class="card-title ">@movie.Title</h2>

                        </div>
                       <span class="movie-quality-span">HD</span>
                    
                        <i class=" fa-solid fa-circle-play"></i>
                    


                    
                    </div>
                        

                    
                   

            </a>
            

            

        </div>
        
    }

</div>