@page
@using MoviesWebApp.Areas.Admin.Pages.AdminMovie
@model CreateModel

@{
    ViewData["Title"] = "Create";
}

<style>
    .table-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 40px;
        background-color: #435d7d !important;
    }

        .table-title .title {
            font-weight: 700;
        }

        .table-title span {
            font-weight: 300;
        }

    .create-btn {
        width: 110px;
    }

</style>
<div class="container-fluid">
    <div class="table-title text-white">
        <h1 class="title">About <span>Create</span></h1>
        <a class="btn btn-success create-btn" asp-page="./Index">Back to List</a>
    </div>
    <form method="post" enctype="multipart/form-data">
        <div class="row">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group col-md-4">
                <label asp-for="Movie.Title" class="control-label"></label>
                <input asp-for="Movie.Title" class="form-control" />
                <span asp-validation-for="Movie.Title" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="Movie.Description" class="control-label"></label>
                <input asp-for="Movie.Description" class="form-control" />
                <span asp-validation-for="Movie.Description" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="Movie.Actors" class="control-label"></label>
                <input asp-for="Movie.Actors" class="form-control" />
                <span asp-validation-for="Movie.Actors" class="text-danger"></span>
            </div>

            <div class="form-group col-md-4">
                <label asp-for="Movie.Director" class="control-label"></label>
                <input asp-for="Movie.Director" class="form-control" />
                <span asp-validation-for="Movie.Director" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="Movie.Country" class="control-label"></label>
                <input asp-for="Movie.Country" class="form-control" />
                <span asp-validation-for="Movie.Country" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="Movie.Duration" class="control-label"></label>
                <input asp-for="Movie.Duration" class="form-control" />
                <span asp-validation-for="Movie.Duration" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="Movie.ReleaseDate" class="control-label"></label>
                <input asp-for="Movie.ReleaseDate" class="form-control" />
                <span asp-validation-for="Movie.ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="Movie.IMDB" class="control-label"></label>
                <input asp-for="Movie.IMDB" class="form-control" />
                <span asp-validation-for="Movie.IMDB" class="text-danger"></span>
            </div>
            <div class="form-group mb-3  col-md-4">
                <label asp-for="Movie.Genre" class="control-label"></label>
                <select asp-for="Movie.Genre" class="form-select" asp-items="Model.GenreList">
                    <option>Not Selected</option>
                </select>
                <span asp-validation-for="Movie.Genre" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-3 position-relative">
                <img width="200" height="300" id="Imgpre" src="https://fakeimg.pl/250x400/?text= Movies Image " alt="Movies Image " />
                <br />
                <br />
                <input type="file" id="ImageIN" asp-for="Movie.Image" />
            </div>
            <div class="form-group ms-3 col-md-3 position-relative">
                <img width="200" height="300" id="Videopre" src="https://fakeimg.pl/250x400/?text= Movies Video " alt="Movies Video " />
                <br />
                <br />
                <input type="file" id="VideoIN" asp-for="Movie.Video" />
            </div>
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </form>
</div>


@section Scripts {
    <script>
        $(document).ready(function () {
            $("#ImageIN").change(function () {
                const file = this.files[0];
                const reader = new FileReader();
                reader.onload = function (e) {
                    $("#Imgpre").attr("src", e.target.result);
                }
                reader.readAsDataURL(file);
            });
        });
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}