@page
@model MoviesWebApp.Areas.Admin.Pages.AdminSeason.CreateModel
@{
    ViewData["Title"] = "Create";
}

<div class="container-fluid">
    <div class="table-title text-white  d-block d-sm-flex">
        <div>
            <h1 class="title">Seasons<span>@ViewData["Title"]</span></h1>
        </div>
        <div>
            <a class="btn btn-success create-btn" style="min-width:150px !important;" asp-page="./Index">Back to List</a>
        </div>
    </div>

    <div class="container season-div">
        <form method="post" class="row" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group col-lg-3 col-xl-4">
                <label asp-for="SeasonCreateDto.Name" class="control-label"> Name</label>
                <input asp-for="SeasonCreateDto.Name" class="form-control" />
                <span asp-validation-for="SeasonCreateDto.Name" class="text-danger"></span>
            </div>
            <div class="form-group col-lg-3 col-xl-4">
                <label asp-for="SeasonCreateDto.SerialId" class="control-label"> Serial</label>
                <select asp-for="SeasonCreateDto.SerialId" class="form-select" asp-items="Model.Serials">
                </select>
                <span asp-validation-for="SeasonCreateDto.SerialId" class="text-danger"></span>
            </div>

            <div class="form-group col-lg-3 col-xl-4">
                <label asp-for="SeasonCreateDto.Country" class="control-label"></label>
                <select asp-for="SeasonCreateDto.Country" class="form-select" asp-items="Model.Countries">
                </select>
                <span asp-validation-for="SeasonCreateDto.Country" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3 position-relative">
                <img width="200" height="300" id="Imgpre" src="https://fakeimg.pl/250x400/?text= Movies Image " alt="Movies Image " />
                <br />
                <br />
                <input type="file" id="ImageIN" asp-for="SeasonCreateDto.Image" />
                <span asp-validation-for="SeasonCreateDto.Image" class="text-danger"></span>

            </div>
            <div class="form-group col-lg-7 col-xl-8 ">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>

    </div>

</div>
@section Scripts {
    <script>
        $(document).ready(function () {
            $("#ImageIN").change(function () {
                const file = this.files[0];
                const reader = new FileReader();
                reader.onload = function (e) {
                    $("#Imgpre").attr("src", e.target.result);
                }
                reader.readAsDataURL(file);
            });
        });
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

