﻿@using Microsoft.AspNetCore.Identity
@using MoviesWebApp.Core.Models;
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav d-blok">
    @if (SignInManager.IsSignedIn(User))
    {

        <li class="dropdown nav-item ms-3">
            <a class="nav-bar-link " href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                @User.Identity?.Name
            </a>

            <ul class="dropdown-menu dropdown-nav-bar" aria-labelledby="dropdownMenuLink">
                <li><a class="dropdown-item " href="#">Account</a></li>
                <form class="form-inline " asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                    <button type="submit" class="dropdown-item">Logout</button>
                </form>

            </ul>
        </li>

    }
    else
    {
        <li class="nav-item ms-2 ">
            <a class="nav-bar-link link-subline" asp-area="Identity" asp-page="/Account/Register">Sign Up</a>
        </li>
        <li class="nav-item ms-2 me-2">
            <a class="nav-bar-link link-subline" asp-area="Identity" asp-page="/Account/Login">Sign In</a>
        </li>

    }
</ul>