.body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.logo-text-layout {
    font-size: 24px;
    color: #317167 !important;
    font-weight: 500;
}

.logo-div-layout {
    width: 30%;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin: auto;
    margin-top: 8px;
}

.free-div-register {
    height: 600px;
}

.custom-color {
    color: #317167;
}

/*body design section*/
.body-main{
    flex:1;
}
.container-body {
    background-color: #D9FDCA;
}
/*nav-bar design section */
a.navbar-brand {
    white-space: normal;
    text-align: center;
}

.navbar {
    top: 0;
    width: 100%;
    z-index: 999;
    background-color: #2b3b37;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.nav-bar-link {
    text-decoration: none !important;
    font-weight: 500 !important;
    color: #3e8f8a;
    font-size: 18px !important;
}

    .nav-bar-link:hover {
        color: #b1563d;
    }


.link-subline {
    display: inline-block;
    text-decoration: none;
}

    .link-subline::after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background: #27476e;
        transition: width .3s;
    }

    .link-subline:hover::after {
        width: 100%;
    }

.dropdown-nav-bar {
    background-color: #26af85 !important;
    opacity: 0.8 !important;
}

    .dropdown-nav-bar a:hover {
        background-color: #d81010;
        color: black;
    }

    .dropdown-nav-bar button {
        background: none;
        border: none;
        background-color: none;
        text-decoration-color: #3e8f8a;
    }

        .dropdown-nav-bar button:hover {
            background-color: #d81010;
            color: black;
        }
/*footer design section*/
.footer {
    background-color: #263636;
    bottom: 0;
    width: 100%;
    line-height: 40px;
    position:page;
}



.footer-main-div a {
    text-decoration: none;
    color: #16a085;
    margin: 0px;
    padding: 0px;
}

.footer-text {
    color: #2d8382;
}

.footer-setting-element {
    color: #16a085;
}

#footer-main-div a:hover {
    color: orangered;
}

.footer-ul a:hover {
    color: orangered;
}
/*customize sweet alert 2 */
.swal2-popup {
    font-size: 9px !important;
    background-color: aquamarine !important;
}

.swal2-styled {
    padding: 10px 32px 10px 32px !important;
    margin: 20px 10px 0px 10px !important;
    width: 240px !important;
   
}
