.body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.o-hidden {
    overflow: hidden;
    background-color: black;
}

.dark-back {
    content: "";
    background-color: black;
    position: fixed;
    opacity: 0.3;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.logo-text-layout {
    font-size: 24px;
    color: #317167 !important;
    font-weight: 500;
}

.logo-div-layout {
    width: 30%;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin: auto;
    margin-top: 8px;
}

.free-div-register {
    height: 600px;
}

.custom-color {
    color: #317167;
}

/*body design section*/
.body-main {
    flex: 1;
}

.container-body {
    background-color: #D9FDCA;
}
/*home page css codes start*/
.swiper-container {
    height: 600px;
    padding: 75px 75px 0px 75px;
}
.swiper-container-news {
    height: 600px;
    padding: 75px 75px 0px 75px;
}

.swiper-slide {
    display: flex;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
}

.slide-card{
    position: absolute !important;
    border-radius: 5px;
    margin-left: 25px;
    margin-top: 50px;
    padding: 25px;
    width: 70%;
    height: 250px;
    background-color: #282E3E;
    opacity: 0;
    visibility: hidden;
}

.swiper-slide:hover .slide-card {
    transition: all 1s ease;
    visibility: visible;
    opacity: 0.7;
}
.news-slide .slide-card {
    opacity: 0.4;
    visibility: visible;
    background-color: #236852;
}
.btn-news {
    width:150px !important;
    height: 40px !important;
    border-radius: 10px;
    font-size:16px;
    font-weight:400;
    color: white;
    text-decoration:none;
    background-color: #ECD91C;
}

.div-home-slide-bottom {
    display: flex;
    align-items: center;
    background-color: #381862;
    margin-top: 20px;
    height: 50px;
    width: 100%;
    border-radius: 4px;
    color: white;
}
.suggest {
    width: 200px;
    display:flex;
    align-items:center;
    justify-content:center;
    position:static !important;
    height: 50px;
    background-color: #ECD51C;
    border-radius:3px;
   color:white;
   margin:20px 0px  20px 75px;
}
/*home page css code end*/
/*nav-bar design section */
/*hamburger menu*/
.hamburger {
    position: relative;
    display: block;
    width: 40px;
    height: 33px;
    cursor: pointer;
    appearance: none;
    background: none;
    outline: none;
    border: none;
}

    .hamburger .bar, .hamburger:after, .hamburger:before {
        content: "";
        width: 100%;
        height: 3px;
        display: block;
        background-color: white;
        margin: 6px 0px;
        transition: 0.4s;
    }

    .hamburger.is-active:before {
        transform: rotate(-45deg) translate(-8px,4px);
    }

    .hamburger.is-active:after {
        transform: rotate(45deg) translate(-6px,-6px);
    }

    .hamburger.is-active .bar {
        opacity: 0;
    }



.nav-mobile.active {
    right: 0;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
}



.navbar {
    top: 0;
    width: 100%;
    z-index: 999;
    background-color: #2b3b37;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.nav-bar-link {
    text-decoration: none !important;
    font-weight: 500 !important;
    color: #3e8f8a;
    font-size: 18px !important;
}

    .nav-bar-link:hover {
        color: #b1563d;
    }


.link-subline {
    display: inline-block;
    text-decoration: none;
}

    .link-subline::after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background: #27476e;
        transition: width .3s;
    }

    .link-subline:hover::after {
        width: 100%;
    }

.dropdown-nav-bar {
    background-color: #26af85 !important;
    opacity: 0.8 !important;
}

    .dropdown-nav-bar a:hover {
        background-color: #d81010;
        color: black;
    }

    .dropdown-nav-bar button {
        background: none;
        border: none;
        background-color: none;
        text-decoration-color: #3e8f8a;
    }

        .dropdown-nav-bar button:hover {
            background-color: #d81010;
            color: black;
        }
/*footer design section*/
.footer {
    background-color: #263636;
    bottom: 0;
    width: 100%;
    line-height: 40px;
    position: page;
}



.footer-main-div a {
    text-decoration: none;
    color: #16a085;
    margin: 0px;
    padding: 0px;
}

.footer-text {
    color: #2d8382;
}

.footer-setting-element {
    color: #16a085;
}

#footer-main-div a:hover {
    color: orangered;
}

.footer-ul a:hover {
    color: orangered;
}
/*customize sweet alert 2 */
.swal2-popup {
    font-size: 9px !important;
    background-color: aquamarine !important;
}

.swal2-styled {
    padding: 10px 32px 10px 32px !important;
    margin: 20px 10px 0px 10px !important;
    width: 240px !important;
}
