@page
@model MoviesWebApp.Areas.Admin.Pages.AdminNewsSlide.UpdateModel
@{
    ViewData["Title"] = "Update";
}

<style>
    .table-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 40px;
        background-color: #435d7d !important;
    }

        .table-title .title {
            font-weight: 700;
        }

        .table-title span {
            font-weight: 300;
        }

    .create-btn {
        width: 110px;
    }

</style>
<div class="container-fluid">
    <div class="table-title text-white  d-block d-sm-flex">
        <div>
            <h1 class="title">News<span>@ViewData["Title"]</span></h1>
        </div>
        <div>
            <a class="btn btn-success create-btn" style="min-width:150px !important;" asp-page="./Index">Back to List</a>
        </div>
    </div>

    <form method="post" class="row">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group col-lg-7 col-xl-8 ">
            <label asp-for="NewsSlideUpdateDto.Title" class="control-label"></label>
            <input asp-for="NewsSlideUpdateDto.Title" class="form-control" />
            <span asp-validation-for="NewsSlideUpdateDto.Title" class="text-danger"></span>
        </div>
        <div class="form-group col-lg-7 col-xl-8">
            <label asp-for="NewsSlideUpdateDto.Description" class="control-label"></label>
            <textarea asp-for="NewsSlideUpdateDto.Description" class="form-control"></textarea>
            <span asp-validation-for="NewsSlideUpdateDto.Description" class="text-danger"></span>
        </div>
        <div class="form-group col-lg-7 col-xl-8 ">
            <label asp-for="NewsSlideUpdateDto.SubDescription" class="control-label"></label>
            <input asp-for="NewsSlideUpdateDto.SubDescription" class="form-control" />
            <span asp-validation-for="NewsSlideUpdateDto.SubDescription" class="text-danger"></span>
        </div>
        <div class="form-group col-lg-7 col-xl-8 ">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </form>


</div>

