@page
@model MoviesWebApp.Areas.Admin.Pages.AdminFAQ.CreateModel
@{
    ViewData["Title"] = "Create";
}

<div class="container-fluid">
    <div class="table-title text-white  d-block d-sm-flex">
        <div>
            <h1 class="title">News <span>@ViewData["Title"]</span></h1>
        </div>
        <div>
            <a class="btn btn-success create-btn" style="min-width:150px !important;" asp-page="./Index">Back to List</a>
        </div>
    </div>

    <form method="post" class="row">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group col-lg-7 col-xl-8 ">
            <label asp-for="FAQCreateDto.Question" class="control-label"></label>
            <textarea  asp-for="FAQCreateDto.Question" class="form-control"></textarea>

            <span asp-validation-for="FAQCreateDto.Question" class="text-danger"></span>
        </div>
        <div class="form-group col-lg-7 col-xl-8 ">
            <label asp-for="FAQCreateDto.Answer" class="control-label"></label>
            <textarea id="faq-editor" asp-for="FAQCreateDto.Answer" class="form-control"></textarea>
            <span asp-validation-for="FAQCreateDto.Answer" class="text-danger"></span>
        </div>
      
        <div class="form-group col-lg-7 col-xl-8 ">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </form>


</div>
@section Scripts{
    <script src="~/ckeditor/styles.js"></script>
    <script src="~/ckeditor/ckeditor.js"></script>

    <script type="text/javascript">
        CKEDITOR.replace('faq-editor')
    </script>
}
@{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
