@page

@model MoviesWebApp.Pages.moviefolder.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1 class="movielefticon">Movies</h1>
<div>
      <partial name="_moviecardPartial"></partial>
   

</div>

