/*tables index design*/
.table-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 40px;
    background-color: #435d7d !important;
}

.about-info-td {
    max-width: 500px;
}
.season-div{
    background-color:#4ab584;
}
.td-min {
    min-width: 165px;
}

.table-title .title {
    font-weight: 700;
}

.table-title span {
    font-weight: 300;
}

.create-btn {
    width: 110px;
}
/*index modal design*/ 
.modal-content {
    background-color: #E2FDFB !important;
}
