@page
@model LoginModel
@using Microsoft.AspNetCore.Identity;
@using MoviesWebApp.Core.Models;
@using MoviesWebApp.Pages.Shared;
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Log in";
}



<div class=" d-flex align-items-center justify-content-center">
    <div class="form-container  shadow">

        <form  method="post" >
            <div asp-validation-summary="ModelOnly"></div>
            <div class="mb-3 d-flex ">
                <i class="fas fa-envelope prefix grey-text me-1 mt-2"></i>
                <input asp-for="LoginModelDto.Email" class="form-control validate" placeholder="Your Email" autocomplete="current-password"  />
            </div>
            <div class="mb-3 mt-4 d-flex ">
                <i class="fas fa-lock prefix grey-text me-1 mt-2"></i>
                <input asp-for="LoginModelDto.Password" placeholder="Your Password" class="form-control validate">

            </div>
            <div class="ms-2">
                <div class="mb-3 d-block">
                    <a class="text-decoration-none" asp-page="./ForgotPassword">Forgot your password?</a>
                </div>
                <div class=" d-block d-sm-flex mb-3">
                    <p class="font-weight-bold mb-1">New to  <b>FALCONOINSCOPE</b></p>
                    <a class="text-decoration-none ms-3" asp-page="./Register" asp-route-returnUrl="LoginModelDto.ReturnUrl">Sign Up</a>
                </div>
                <div class=" mb-3 checkbox d-block">
                    <label asp-for="LoginModelDto.RememberMe" class="form-label">
                        <input class="form-check-input" asp-for="LoginModelDto.RememberMe" />
                        @Html.DisplayNameFor(m => m.LoginModelDto.RememberMe)
                    </label>
                </div>
                <div class="modal-footer">

                    <button  type="submit" class=" sign-button">Sign In</button>
                </div>
            </div>

        </form>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />

}

