@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}





<div class=" d-flex align-items-center justify-content-center">
    <div class="form-container register-form shadow">

        <form id="form-register" asp-route-returnUrl="SignUpModelDto.ReturnUrl" method="post">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-2 mt-2 d-flex ">
                <i class="fas fa-envelope prefix grey-text me-1 mt-2"></i>
                <input asp-for="SignUpModelDto.Username" class="form-control validate" placeholder="Your Username" autocomplete="off" aria-required="true" />

            </div>
            <span class="ms-2 text-danger" asp-validation-for="SignUpModelDto.Username" class="text-danger"></span>
            <div class="mb-2 mt-2 d-flex ">
                <i class="fas fa-envelope prefix grey-text me-1 mt-2"></i>
                <input asp-for="SignUpModelDto.Email" class="form-control validate" placeholder="Your Email" autocomplete="off" aria-required="true" />

            </div>
            <span class="ms-2 text-danger" asp-validation-for="SignUpModelDto.Email" class="text-danger"></span>
            <div class="mb-2 mt-2 d-flex ">
                <i class="fas fa-lock prefix grey-text me-1 mt-2"></i>
                <input asp-for="SignUpModelDto.Password" id="defaultForm-pass" placeholder="Your Password" class="form-control validate">


            </div>
            <span class="ms-2 text-danger" asp-validation-for="SignUpModelDto.Password" class="text-danger"></span>
            <div class="mb-2 mt-2 d-flex ">
                <i class="fas fa-lock prefix grey-text me-1 mt-2"></i>
                <input asp-for="SignUpModelDto.ConfirmPassword" id="defaultForm-pass" placeholder="Confirm Password" class="form-control validate">

            </div>
            <span class="ms-2 text-danger" asp-validation-for="SignUpModelDto.ConfirmPassword" class="text-danger"></span>

        </form>
        <form asp-page="./ExternalLogin" asp-route-returnUrl="SignUpModelDto.ReturnUrl" method="post" class="form-horizontal">
            <div class="mb-2 mt-2 d-flex">

                @foreach (var provider in Model.ExternalLogins!)
                {
                    <button type="submit" class="btn btn-danger sign-google ms-3 pe-3 w-100" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account"><i class="fa-brands fa-google"></i> Sign Up with @provider.DisplayName</button>
                }

            </div>
        </form>
        <div class="modal-footer">

            <button form="form-register" type="submit" class=" sign-button">Sign Up</button>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />

}

