@page
@model SearchResultsModel



    <div id="row-search">
        <div class="movie"style="display:none">

            <a class="a-movie" asp-page="/PageEachMovie" asp-route-id="">

                <div class="card-body">




                    <div class="movie-details">
                        <h2 class="card-title "></h2>

                    </div>
                    <span class="movie-quality-span">HD</span>

                    <i class=" fa-solid fa-circle-play"></i>




                </div>





            </a>




        </div>
    </div>












