@page
@using MoviesWebApp.Areas.Admin.Pages.AdminSubscriber
@model IndexModel

@{
    ViewData["Title"] = "Index";
}



@section cssFiles{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert2/11.10.1/sweetalert2.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
}

<div class="container-fluid">
    <div class="table-title text-white">
        <h1 class="title">About<span>Table</span></h1>
        <a class="btn btn-success create-btn" asp-page="./Create">Create</a>
    </div>
    <table class="table table-hover table-striped shadow">
        <thead>
            <tr>
                <th>

                    @Html.DisplayNameFor(model => model.LogoPageInfos[0].InfoAboutApp)

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.LogoPageInfos)
            {
                <tr>
                    <td>

                        @Html.DisplayFor(modelItem => item.InfoAboutApp)
                    </td>
                    <td>
                        <a class="btn btn-warning" asp-page="./Update" asp-route-id="@item.Id">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </a>
                        <a class="btn btn-danger btn-delete">
                            <i class="fa-solid fa-trash"></i>
                        </a>
                        <a class="btn btn-info" asp-page="./Details" asp-route-id="@item.Id">
                            <i class="fa-solid fa-circle-info"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section jsFiles{
    <script src="~/assets/js/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert2/11.10.1/sweetalert2.min.js"></script>
}
